<div>
    <h2>Add Task Information</h2>
<div class="row">
    <div class="col-3">

    <form #taskRef="ngForm" (ngSubmit)="storeNewTask(taskRef.value)">
        <mat-form-field>
            <mat-label style="font-size: larger;">Employee ID:</mat-label>
            <input matInput type="text" name="id" ngModel/>
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label style="font-size: larger;">Name:</mat-label>
            <input matInput type="text" name="name" ngModel/>
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label style="font-size: larger;">Task:</mat-label>
            <textarea matInput type="text" name="task" ngModel></textarea>
        </mat-form-field>
        <br/>
        <mat-form-field>
            <input matInput type="date" name="date" ngModel/>
        </mat-form-field>
        <br/>
        <button mat-stroked-button color="primary" 
        style="background-color:darkorange;" type="submit">Store</button>
    </form>
    </div>

    <div class="col-8">
        <table border="1">
            <tr>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Task</th>
                <th>Date</th>
            </tr>
            <tr *ngFor="let temp of taskArray">
                <td style="width: 15%;">{{temp.id}}</td>
                <td style="width: 20%;">{{temp.name}}</td>
                <td style="width: 45%;">{{temp.task}}</td>
                <td style="width: 20%;">{{temp.date}}</td>
            </tr>
        </table>
    </div>

</div>
</div>